{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction List</title>
</head>
<body>
<div class="container">
{% block content %}
<h3>Balance : {{balance}}</h3>
<table class="table">
  <tr>
    <th>Business</th>
    <th>Amount</th>
    <th>Type</th>
    <th>User</th>
    <th>Created</th>
  </tr>
  <tr>
    <br>
    {% for transaction in object_list %}
       <td>{{transaction.business}}</td>
       <td>{{transaction.amount}}</td>
       <td>{{transaction.transaction_type}}</td>
       <td>{{transaction.user}}</td>
       <td>{{transaction.created}}</td>
  </tr>
    {% endfor %}
{% endblock %}
</table>
</div>
</body>
</html>
